input {
    border-color: black;
    border-width: 1px;

}
h3{
    color: rgb(40, 81, 215);
    text-decoration: underline;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5{

    color:rgb(3, 150, 45);
    text-decoration: underline;
}
hr{
    border: 2px solid black; 
}